.galery{
    margin: 5px;
    border: 1px solid black;
    float: left;
    width: 600px;
}

.galery:hover{
    border: 2px solid darkblue;
}

.galery img{
    width: 100%;
    height: auto;
}

.desc{
    padding: 15px;
    text-align: center;
}

p[class*=ds]{
    color: white;
    background-color: gray;
    padding: 20px;
}

h1[class|=heading]{
    background-color: red;
    padding: 20px;
    color: aqua;
}

div[id ~="ds"]{
    background-color: palevioletred;
    padding: 20px;
    color: aqua;

}

img[title^=blue]{
background-color: tan;
    padding: 20px;
    color: aqua;

}

img[title $=blue]{
background-color: saddlebrown;
    padding: 20px;
    color: aqua;

}