article p{
    background-color: rosybrown;
    color: whitesmoke;
    padding: 20px;
}

article > p{
    background-color: purple;
}

article ~ p{
    background-color: violet;
    padding: 20px;
}

article + p{
    background-color: rebeccapurple;
}

form :invalid{
    border: 2px solid red ;
}

form :valid {
    border: 2px solid green;
}

input:in-range{ 
    border: 2px solid green;
}

input:out-of-range{ 
    border: 2px solid red;
}