a:link {
    color:red
}

a:visited {
    color:green
}

a:hover{
    color:orange
}

a:active {
    color:yellow
}

ul {
    list-style-type: none;
    padding: 0;
    border:1px solid green;
}

ul li {
    padding: 8px 16px;

    border-bottom: 1px solid black;
}

ol{
    list-style-type: lower-alpha;
    background-color: #ffe5e5;
    padding: 15px;
}

ol li {
    background-color: #ffe5e5;
    padding: 10px;
    margin-left: 30px;
}

/* td,th {
    border: 1px solid #eee;
    padding: 15px;
}

table {
    border-collapse: collapse;
}

tbody tr:nth-child(odd) {
    background-color: #ff33cc;
}

tbody tr:nth-child(even) {
    background-color: #704c67;
} */

div{
    overflow: scroll;
    width: 100%
    background-color bisque;
}

table{
    border-collapse: collapse;
    width: 100%;
}

tr, td{
    border: 2px solid black;
    text-align: center;
}